/* Parallax Effect para el fondo del carrusel */
.parallax-eventos {
  position: relative;
  background-image: url("/images/fondo-eventos.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventos-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.titulo-eventos {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.eventos-section {
  z-index: 2;
  position: relative;
}

#eventContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media (max-width: 767px) {
  .col-md-4 {
    flex: 0 0 48%;
    max-width: 48%;
  }

  #eventContainer {
    width: 90%;
  }

  .parallax-eventos {
    background-attachment: scroll !important;
    background-size: cover;
    background-position: center center;
  }
}

@media (max-width: 576px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #eventContainer {
    width: 70%;
  }
}
@media (max-width: 1600px) {
  #eventContainer {
    width: 80%;
    justify-self: center;
  }
}

@media (max-width: 1200px) {
  #eventContainer {
    width: 100%;
    justify-self: center;
  }

  .span-text-content {
    display: none;
  }
}
