body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/fondo-login.webp") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
}

.login-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box .btn-primary {
  background-color: #005218;
  border: none;
}

.login-box .btn-primary:hover {
  background-color: #002c0d;
}

.error-message {
  color: #ff4d4d;
  text-align: center;
  margin-bottom: 15px;
}
